.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  width: 180px;
  height: 80px;
  background-color: rgb(240, 240, 240);
  border: #858585;
  border-radius: 4px;
  /* box-shadow: 1px 6px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.card-info h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.card-info h3 {
  margin: 5px 0 0 0;
  font-size: 22px;
  color: black;
}

.card-icon {
  font-size: 40px;
}

.card-line {
  height: 5px;
  width: 100%;
  border-radius: 0px 0px 10px 10px; /* Match the card's bottom radius */
}
